html, body {
    margin: 0 auto;
    padding: 0;
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family:'Source Sans Pro', sans-serif;
}
header{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #C6C6C6;
}

.user-avatar{
    width:50px;
    height:50px;
    border-radius: 50px;
    margin-top: 20px;
    object-fit: contain;
}
.logo{
    width:200px;
    padding: 0
}
.avatar{
    width:50px;
    border-radius: 50px;
    margin:10px;
}
.user-info{
    display:flex;
    font-weight: 700;
    margin-bottom:0px;
    
}
.location{
    font-weight:400; 
    margin: 35px 0px 0px -123px
}
.icon{
    width:50px;
    margin-top:20px;
    padding-right:20px;
}
.likes, p bold{
    font-weight:700
}